/*************  ✨ Codeium Command ⭐  *************/
{
  "trailingComma": "es5",
  "tabWidth": 2,
  "semi": true,
  "singleQuote": true,
  "printWidth": 80,
  "bracketSpacing": true,
  "arrowParens": "always",
  "endOfLine": "lf",
  "jsxSingleQuote": false,
  "insertPragma": false,
  "proseWrap": "preserve",
  "quoteProps": "as-needed",
  "useTabs": false,
  "overrides": [
    {
      "files": "*.md",
      "options": {
        "printWidth": 80,
        "proseWrap": "always"
      }
    }
  ]
}
/******  14d27c42-2e4a-4cd7-b067-3f87f6f8d12d  *******/ 